services:
  api:
    build: { context: ., dockerfile: Dockerfile }
    command: ["node","src/approach-2/index.api.js"]
    env_file: .env.docker
    environment:
      SERVICE: api
    depends_on:
      postgres: { condition: service_healthy }
      redis: { condition: service_healthy }
    expose: ["3000"]
    healthcheck:
      test: ["CMD-SHELL","curl -sf http://localhost:3000/health || exit 1"]
      interval: 5s
      timeout: 2s
      retries: 30
    cpuset: "0-3"             
    cpu_period: 100000        
    cpu_quota: 200000          
    mem_limit: "1g"
    mem_reservation: "512m"

  sse:
    build: { context: ., dockerfile: Dockerfile }
    command: ["node","src/approach-2/index.sse.js"]
    env_file: .env.docker
    environment:
      SERVICE: sse
    depends_on:
      redis: { condition: service_healthy }
    expose: ["4000"]
    healthcheck:
      test: ["CMD-SHELL","curl -sf http://localhost:4000/health || exit 1"]
      interval: 5s
      timeout: 2s
      retries: 30
    cpuset: "0-3"
    cpu_period: 100000
    cpu_quota: 20000           
    mem_limit: "256m"
    mem_reservation: "128m"
  worker-order:
    build: { context: ., dockerfile: Dockerfile }
    command: ["node","src/approach-2/workers/orderWorker.js"]
    env_file: .env.docker
    environment:
      SERVICE: worker-order
      ORDER_WORKERS: "6"           
      WORKER_CONCURRENCY: "12"     
    depends_on:
      postgres: { condition: service_healthy }
      redis: { condition: service_healthy }
    cpus: "2.0"                    
    mem_limit: "1g"                
    mem_reservation: "512m"

  worker-payment:
    build: { context: ., dockerfile: Dockerfile }
    command: ["node","src/approach-2/workers/paymentWorker.js"]
    env_file: .env.docker
    environment:
      SERVICE: worker-payment
      PAYMENT_WORKERS: "20"      
      WORKER_CONCURRENCY: "10"     
    depends_on:
      postgres: { condition: service_healthy }
      redis: { condition: service_healthy }
    cpus: "3.0"                   
    mem_limit: "1.5g"             
    mem_reservation: "768m"

    
  redis:
    image: redis:7-alpine
    command: ["redis-server","--appendonly","yes"]
    healthcheck:
      test: ["CMD","redis-cli","ping"]
      interval: 3s
      timeout: 1s
      retries: 20
    cpuset: "0-3"
    cpu_period: 100000
    cpu_quota: 40000          
    mem_limit: "256m"
    mem_reservation: "128m"

  postgres:
    image: postgres:18-alpine
    env_file: .env.docker
    volumes:
      - pg-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL","pg_isready -U postgres -d flashsale -h localhost -p 5432"]    # change here with your db name
      interval: 3s
      timeout: 2s
      retries: 30
    cpuset: "0-3"
    cpu_period: 100000
    cpu_quota: 200000           
    mem_limit: "2g"
    mem_reservation: "1g"
    shm_size: "1g"          

  nginx:
    image: nginx:alpine
    depends_on: [api, sse]
    ports: ["80:80"]
    volumes:
      - ./src/loadbalancer/nginx.conf:/etc/nginx/nginx.conf:ro
    restart: unless-stopped
    cpuset: "0-3"
    cpu_period: 100000
    cpu_quota: 40000          
    mem_limit: "256m"
    mem_reservation: "64m"

volumes:
  pg-data:

