services:
  api:
    build: { context: ., dockerfile: Dockerfile }
    command: ["node","src/approach-2/index.api.js"]
    env_file: .env.docker
    environment:
      SERVICE: api
    depends_on:
      postgres: { condition: service_healthy }
      redis: { condition: service_healthy }
    expose: ["3000"]
    healthcheck:
      test: ["CMD-SHELL","curl -sf http://localhost:3000/health || exit 1"]
      interval: 5s
      timeout: 2s
      retries: 30

  sse:
    build: { context: ., dockerfile: Dockerfile }
    command: ["node","src/approach-2/index.sse.js"]
    env_file: .env.docker
    environment:
      SERVICE: sse
    depends_on:
      redis: { condition: service_healthy }
    expose: ["4000"]
    healthcheck:
      test: ["CMD-SHELL","curl -sf http://localhost:4000/health || exit 1"]
      interval: 5s
      timeout: 2s
      retries: 30

  worker-order:
    build: { context: ., dockerfile: Dockerfile }
    command: ["node","src/approach-2/workers/orderWorker.js"]
    env_file: .env.docker
    environment:
      SERVICE: worker-order
      WORKER_CONCURRENCY: "2"     # jobs متزامنة داخل العملية
      THREADS: "0"                # 0 لو I/O فقط
    depends_on:
      postgres: { condition: service_healthy }
      redis: { condition: service_healthy }

  worker-payment:
    build: { context: ., dockerfile: Dockerfile }
    command: ["node","src/approach-2/workers/paymentWorker.js"]
    env_file: .env.docker
    environment:
      SERVICE: worker-payment
      WORKER_CONCURRENCY: "2"
      THREADS: "4"                # لو بدك توقيع/تشفير ثقيل
    depends_on:
      postgres: { condition: service_healthy }
      redis: { condition: service_healthy }

  redis:
    image: redis:7-alpine
    command: ["redis-server","--appendonly","yes"]
    healthcheck:
      test: ["CMD","redis-cli","ping"]
      interval: 3s
      timeout: 1s
      retries: 20

  postgres:
    image: postgres:18-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: "1"
      POSTGRES_DB: flashsale_dev
    volumes:
      - pg-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL","pg_isready -U postgres -d flashsale_dev -h localhost -p 5432"]
      interval: 3s
      timeout: 2s
      retries: 30

  nginx:
    image: nginx:alpine
    depends_on: [api, sse]
    ports: ["80:80"]
    volumes:
      - ./src/loadbalancer/nginx.conf:/etc/nginx/nginx.conf:ro
    restart: unless-stopped

volumes:
  pg-data:
